{% load static %} {% block styles %}

<style>
    .myDiv {
          
          width: 50em;
          border: 1px solid #333;
          box-shadow: 8px 8px 5px #e0aa3e ;
          padding: 8px 12px;
          background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          
         }
    .btnend{

        transition: 0.2s ease-in;

        font-size: 24px;
    text-decoration: none;
    color: #a0a033;
    font-weight: bold;
    border: 1px solid black;
    padding:4px;
    background: rgb(253, 231, 204);
    margin: 10px;
    border-radius: 8px;
    
}

.btnend:hover{
    transition: 0.2s ease-out;
box-shadow: 0px 0px 10px 1px black;
}

body {
            background-image: url('{% static "img/img9.jpg" %}');
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: 10%;
        
            /* Add additional styles as needed */
        }
</style>
{% endblock %} 
<body>
{% block content%}
<center>
<br>
<br>
<div class="myDiv">
<div class="cardmain"  style="margin: 20px">
    <center>
     <h1> <span style="font-weight: 200">Trapped </span> {{name}} </h1>
    <h1 style="font-weight: 100"> Oops!!! you got Trapped.. It was a trap setup by the king. It seems the question had other answers too which we were unable to figure out. Oh Nooo! the door closed, we are now trapped in this room forever.click on start to restart the game</h1>
    <!--<h2> Your total score is {{score}} points.</h2>-->
</center>
</div>
<center>
<a class="btnend" href="{% url 'index' %}"> start </a>
</center>
</div>
</center>
{% endblock %}
</body>
{% block script %}
{% endblock %}
{% block usercheck%}
{% endblock %}